Scene(
    entities: [
        Entity(
            name: "camera",
            components: [
                Transform(
                    translation: Vector3(0.0, 0.0, 0.0),
                    rotation: Rotor(0.0, 0.0, 0.0, 1.0),
                    scale: Vector3(1.0, 1.0, 1.0)
                ),
                Camera(
                    //projection: CameraProjection::Perspective(
                    //    fov: 45.0,
                    //    near: 0.1,
                    //    far: 100.0
                    //),
                )
            ]
        ),
        Entity(
            name: "light",
            components: [
                Transform(
                    translation: Vector3(0.0, 0.0, 0.0),
                    rotation: Rotor(0.0, 0.0, 0.0, 1.0),
                    scale: Vector3(1.0, 1.0, 1.0)
                ),
                Light(
                    color: Vector3(1.0, 1.0, 1.0),
                    intensity: 1.0
                )
            ]
        ),
        Entity(
            name: "viking_room",
            components: [
                Transform(
                    translation: Vector3(0.0, 0.0, 0.0),
                    rotation: Rotor(0.0, 0.0, 0.0, 1.0),
                    scale: Vector3(1.0, 1.0, 1.0)
                ),
                Model(
                    mesh: "models/viking_room.obj",
                    material: "models/viking_room"
                )
            ]
        )
    ]
)
