Level(
    entities: [
        Entity(
            name: "camera",
            components: [
                {
                    "Transform": (
                        translation: Vec3(x: 0.0, y: 0.0, z: 0.0),
                        rotation: Rotor3(s: 0.0, bv: Bivec3(xy: 0.0, xz: 0.0, yz: 1.0)),
                        scale: Vec3(x: 1.0, y: 1.0, z: 1.0),
                    )
                },
                {
                    "Camera": (
                    //projection: CameraProjection::Perspective(
                    //    fov: 45.0,
                    //    near: 0.1,
                    //    far: 100.0
                    //),
                    )
                }
            ],
        ),
        Entity(
            name: "light",
            components: [
                {
                    "Transform": (
                        translation: Vec3(x: 0.0, y: 0.0, z: 0.0),
                        rotation: Rotor3(s: 0.0, bv: Bivec3(xy: 0.0, xz: 0.0, yz: 1.0)),
                        scale: Vec3(x: 1.0, y: 1.0, z: 1.0),
                    )
                },
                {
                    "Light": (
                        colour: Vec3(x: 1.0, y: 1.0, z: 1.0),
                        intensity: 1.0
                    ),
                }
            ],
        ),
        Entity(
            name: "viking_room",
            components: [
                {
                    "Transform": (
                        translation: Vec3(x: 0.0, y: 0.0, z: 0.0),
                        rotation: Rotor3(s: 0.0, bv: Bivec3(xy: 0.0, xz: 0.0, yz: 1.0)),
                        scale: Vec3(x: 1.0, y: 1.0, z: 1.0),
                    )
                },
                {
                    "Model": (
                        mesh: "models/viking_room.obj",
                        material: "models/viking_room"
                    )
                },
            ],
        ),
    ],
)
