{
    "spnza_bricks_a_diff": Texture(
        path: "spnza_bricks_a_diff.png",
        type: Colour(RGB),
        mipmaps: true,
    ),
    "spnza_bricks_a_spec": Texture(
        path: "spnza_bricks_a_spec.png",
        type: Linear(Greyscale),
        mipmaps: true,
    ),
    "spnza_bricks_a_normal": Texture(
        path: "spnza_bricks_a_bump.png",
        type: NormalFromBump,
        mipmaps: true,
    ),
    "sponza_ceiling_a_diff": Texture(
        path: "sponza_ceiling_a_diff.png",
        type: Colour(RGB),
        mipmaps: true,
    ),   
    "sponza_ceiling_a_spec": Texture(
        path: "sponza_ceiling_a_spec.png",
        type: Linear(RGB),
        mipmaps: true,
    ),   
}
