GraphicsPipeline(
    name: "engine/simple/unlit",
    shaders: (
        vertex: (
            id: "common/apply_mvp_vs",
            input_type: PositionTexCoord,
        ),
        fragment: (
            id: "simple/unlit",
        ),
    ),
    rasteriser: (
        multisample_enable: true,
        depth_enable: true,
    ),
    layout: (
        push_constant: DrawData, 
        bindings: {
            "base_colour": (
                type: Float4, 
                stages: "Fragment",
            ),
        }
    ),
)
