ComputePipeline(
    shader: "compute/megabuffer_gen",
    layout: (
        push_constant: None,
        bindings: {
            "mesh_buffers": StorageBuffer,
            "mesh_offsets": StorageBuffer,
            "vertices_megabuffer": StorageBuffer,
            "indices_megabuffer": StorageBuffer,
            //"element_offset_megabuffer": StorageBuffer,
        }
    ),
)
